DATABASE_URL=postgres://root:root_password@localhost:5433/main
PORT=3003
# Generate a local key pair with:
#   node -e "const{generateKeyPair,exportPKCS8,exportSPKI}=require('jose');(async()=>{const{privateKey,publicKey}=await generateKeyPair('ES256',{extractable:true});console.log(await exportPKCS8(privateKey));console.log(await exportSPKI(publicKey))})()"
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
